<html>
<head>
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
    <title>
      $title
    </title>
</head>
<body>
<div class="row">
    <div class="span8 offset2">
        <h2>Errors & Warnings</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Message</td>
                <td>Diagram</td>
            </tr>
            </thead>
            <tbody>
                #foreach( $entry in $entries )
                    #if ($entry.getType().toString() == "WARNING")
                    <tr class="warning">
                    #{else}
                    <tr class="error">
                    #end
                    <td>$entry.getMessage()</td>
                    <td>$entry.getDiagram().getName()</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
